
.following {
  background: #02b875;
  color: white;
}

.follow {
  background: white;
  color: #02b875;
}

.following:hover {
  background: white;
  color: #02b875;
}

.follow:hover {
  background: #02b875;
  color: white;
}
