.section-header {
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  background: white;
}

.main-header {
  margin: 0 auto;
  display: block;
  width: 900px;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
}

.main-header-rep {
  float: left;
  padding-top: 10px;
}
.main-header-rep a:last-child {
  padding-top: 2.5px;
}


.main-header-rep li {
  float: left;
  margin-right: 20px;
  font-size: 24px;
  margin: auto 20px auto 0;

}

.main-header-nav {
  float: right;
  padding-top: 16px;
}

.logged-in a:first-child{
  color: #02b875;
}
.not-logged-in a:hover {
  color: gray;
}


.main-header-nav-other,
.main-header-nav a {
  float: left;
  margin-left: 20px;
  color: darkgray;
}

// .main-header-nav img {
//   margin: 0 auto;
//   margin-bottom: 10px;
// }

// TODO:
// Clean up without id selectors
// pseudo content "/"
//
#signin,
#signup {
  color: #02b875;
  float: left;
  margin-left: 0
}
#signup {
  margin-left: 20px;
  margin-right: 5px;
}
#signup {
  content: "/"
}
#slash {
  color: #02b875;
  float: left;
  padding: 0 2px;
}

.story-nav{
  margin: 8px auto;
  height: 30px;
  width: 900px;
}

.story-nav a{
  float: left;
  margin: auto 20px auto 0;
  color: darkgray;
  padding-top: 7px;
}

.story-nav a:hover{
  color: gray;
}
