.section-header {
  border-bottom: 1px solid gray;
  margin: 0 auto;
  background: white;
}

.main-header {
  margin: 0 auto;
  padding-top: 20px;
  display: block;
  width: 900px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.main-header-rep {
  float: left;
}


.main-header-rep li {
  float: left;
  margin-right: 20px;
  font-size: 24px;
  margin: auto 20px auto 0;

}

.main-header-nav {
  float: right;
}

.logged-in a:first-child{
  color: green;
}
.not-logged-in a:hover {
  color: black;
}

.main-header-nav a,
.main-header-nav-other {
  float: left;
  margin-left: 20px;
  color: gray;
}

.main-header-nav button {

}
// TODO:
// Clean up without id selectors
// pseudo content "/"
//
#signin,
#signup {
  color: green;
  float: left;
  margin-left: 0
}
#signup {
  margin-left: 20px;
  margin-right: 5px;
}
#signup {
  content: "/"
}
#slash {
  color: green;
  float: left;
  padding: 0 2px;
}

.story-nav{
  margin: 0 auto;
  height: 50px;
  width: 900px;
  float: right;
}

.story-nav a{
  float: left;
  margin: 10px 20px;
  color: gray;
}

.story-nav a:hover{
  color: black;
}
