// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.response-list-section {
  margin-bottom: 35px;
}
// .response-section h2 {
//   margin: 20px;
// }
.responses-header {
  margin: 25px 0 35px 0;
  color: gray;
}
.create-responses-header {
  margin-top: 35px;
  color: gray;
}
