

.auth {
  width: 518px;
  height: 500px;
  margin: 150px auto;
  border: 1px solid gray;
  display: block;
  border-radius: 5px;
}
.auth h3{
  display: block;
  height: 36px;
  background: #eee;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 0px;

}

.auth-form {

}

.auth input {
  width: 453px;
  display: block;
  margin: 10px auto;
  font-size: 18px;

}
.auth label{
  display: block;
  color: gray;
  margin: 30px;
  font-size: 16px;
}

.auth input[type="submit"]{
  color: green;
  height: 56px;
  // margin: 0 auto;
  border: 1px solid green;
  border-radius: 3px;
  font-size: 16px;
  background: white;

}
.auth input {
  height: 30px;

}
