
.auth {
  width: 518px;
  height: 400px;
  margin: 25px auto;
  display: block;
  border-radius: 5px;
  background: white;
}
.auth h3{
  display: block;
  height: 36px;
  background: #eee;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 0px;

}

.auth-form {

}

.auth input {
  width: 453px;
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  height: 30px;

}

.auth input:focus {
  outline:none;
}
.auth label{
  display: block;
  color: gray;
  margin: 30px;
  font-size: 16px;
}


.auth p {
  width: 453px;
  display: block;
  margin: 10px auto;
  font-size: 16px;
  padding-left: 5px;
  color: red;
}

.auth input[type="submit"]{
  color: green;
  height: 56px;
  border: 1px solid green;
  border-radius: 3px;
  font-size: 16px;
  background: white;
  letter-spacing: 2px;
}
.auth input[type="submit"]:hover{
  background: lightgray;
  cursor: pointer;
}
