
.main-content {
  width: 900px;
  margin: 0 auto;
}
.main-content-stories {
  float: left;
}
.create-story-form {
  float: left;
}
.story-item {
  width: 659px;
  // height: 351px;
  background: white;
  border: 1px solid lightgray;
  margin: 10px auto;
  display: block;
}

.story-item-profile {
  margin: 31px 0 0 65px;
  display: block;
}
.story-item-profile > li {
  float: left;
}
.story-item-profile > li:first-child {
  color: #02b875;
  font-size: 16px;
}
.story-item-date-and-length {
  margin: auto 10px;
  display: block;
}
.story-item-date-and-length > li:first-child::after{
  content: "\00b7";
  margin-left: 10px;
}
.story-item-date-and-length li{
  color: gray;
  font-size: 12px;
  float: left;
  margin: 5px;
}
.story-item-title a {
  margin: 36px 20px 0 20px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}
.story-item-content a{
  margin: 20px;
  font-size: 18px;
  display: block;
  // height: 163px;
  overflow: hidden;
}
.story-item-content {
  // width: 100px;
}
.story-detail-link a{
  font-size: 14px;
  color: gray;
  display: block;
  margin: 20px;
}
.story-likes li{
  float: left;
  margin-right: 5px;
}
.story-likes {
  margin: 10px 20px;
}
.story-likes img:hover {
  cursor: pointer;
}
