
.main-content {
  width: 900px;
  margin: 0 auto;
}
.main-content-stories {
  float: left;
}
.create-story-form {
  float: left;
}
.story-item {
  width: 659px;
  // height: 351px;
  background: white;
  border: 1px solid lightgray;
  margin: 10px auto;
  display: block;
}

.story-item-profile {
  margin: 31px 0 0 65px;
  display: block;
}
.story-item-profile > li {
  float: left;
}
.story-item-profile > li:first-child {
  color: #02b875;
  font-size: 16px;
}
.story-item-date-and-length {
  margin: auto 10px;
  display: block;
}
.story-item-date-and-length > li:first-child::after{
  content: "\00b7";
  margin-left: 10px;
}
.story-item-date-and-length li{
  color: gray;
  font-size: 12px;
  float: left;
  margin: 5px;
}
.story-item-title a {
  margin: 36px 20px 0 20px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}
.story-item-content a{
  font-size: 23px;
  font-weight: 300px;
  color: gray;
  margin: 20px;
  display: block;
  // height: 163px;
  overflow: hidden;
}
.story-item-content {
  // width: 100px;
}
.story-detail-link a{
  font-size: 12px;
  color: gray;
  display: block;
  margin: 20px;
}
.story-likes li{
  float: left;
  margin-right: 5px;
}
.story-likes {
  margin: 19px 20px;
  width: 200px;
  display: inline-block;
}
.story-likes img:hover {
  cursor: pointer;
}
.heart:hover {

}
.update-delete {
  width: 200px;
  float: right;
  vertical-align: top;
}
.update-button,
.delete-button {
  float: right;
  border: 1px solid #02b875;
  color: #02b875;
  padding: 4px 10px;
  border-radius: 18px;
  font-size: 14px;
  margin: 10px 10px;
}
.update-button {
  margin-right: 20px;
}
.update-button:hover,
.delete-button:hover {
  cursor: pointer;
  background: #02b875;
  color: white;
}
