.story-detail {
  width: 700px;
  height: 351px;
  background: white;
  border: 1px solid lightgray;
  margin: 10px auto;
  display: block;
}


.story-detail-title {
  margin: 36px 20px 0 20px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  width: 500px;
}

.story-detail-content{
  margin: 20px;
  font-size: 18px;
  display: block;
  height: 163px;
  width: 500px;
}
.response-section {
  margin: 0 auto;
  width: 640px;

}

.response-section h2 {
  margin: 40px auto;
  color: #02b875;
  font-size: 18px;
  display: block;
  width: 150px;
}

.response-section form,  .response-list-section {
  float: left;
}

// .response-list {
//   width: 640px;
// }
// .response-list > li {
//   display: block;
//   float: left;
// }
//
// .create-story-form {
//   display: block;
// }
