// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-story-form {
  width: 659px;
  height: 351px;
  background: white;
  border: 1px solid lightgray;
  margin: 35px auto 10px;
}
.create-story-form p {
  margin: 31px 0 0 65px;
  color: #02b875;
  display: block;
  font-size: 16px;
}
.create-story-form textarea {
  display: block;
  margin: 31px 38px 0 18px;
  height: 168px;
  width: 605px;
  border: none;
  resize: none;
  font-size: 18px;
}
.create-story-form textarea:focus {
  outline: none;
}
.create-story-form input {
  width: 81px;
  height: 36px;
  border: 1px solid #02b875;
  color: #02b875;
  background: white;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 20px;
  display: block;
  float: left;
}
.create-story-form input:hover {
  cursor: pointer;
}
.update-story {
  background: white;
  height: 1000px;
}
.update-story textarea:focus {
  outline: none;
}

.update-story textarea {
  display: block;
  margin: 0 auto;
  height: 168px;
  width: 900px;
  border: none;
  resize: none;
  font-size: 21px;
  padding: 35px 0 0 0;
  text-align: center;
}
.update-story button {
  border: 1px solid #02b875;
  padding: 10px 10px;
  border-radius: 18px;
  margin-bottom: 36px;
  font-size: 14px;
  margin-left: 50%;
  margin-right: 50%;

}

.update-story button:hover {
  cursor: pointer;
  background: #02b875;
  color: white;
}
