.story-detail-section {
  background: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 35px;
}

.story-detail {
  margin: 0 auto;
  width: 900px;
}

.story-detail-profile {
  margin-bottom: 20px;
}

.story-detail-profile li{
  margin: 0 auto;
}

.story-detail-user-image {
  float: left;
  margin: 60px 0 0 20px;
  border-radius: 20px;
}

.detail-profile-username-and-follow li:first-child{
  float: left;
  margin: 35px 0 0 65px;
  display: block;
}

.detail-profile-username-and-follow button {
  margin: 31px 0 0 10px;
  border: 1px solid #02b875;
  padding: 4px 10px;
  border-radius: 18px;
  font-size: 14px;
}

.detail-profile-username-and-follow button:hover {
  cursor: pointer;
}

.detail-profile-username-and-follow li {
  float: left;
}

.detail-profile-username-and-follow a {
  font-size: 16px;
}

.detail-profile-description {
  color: gray;
  font-size: 16px;
}

.detail-story-date {
  margin-left: 155px;
}

.detail-story-date > li:first-child::after{
  content: "\00b7";
  margin-left: 10px;
}

.detail-story-date li{
  color: gray;
  font-size: 12px;
  float: left;
  margin: 5px;
}

.detail-story-date li:first-child {
  float: left;
}

.story-detail-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px;
}

.detail-story-likes li{
  float: left;
  margin-right: 5px;
}
.detail-story-likes {
  margin: 20px;
}

.detail-story-likes img:hover {
  cursor: pointer;
}

.story-detail-image-div {
  display: flex;
  justify-content: center;

}

.story-detail-content{
  font-size: 21px;
  display: block;
  line-height: 33px;
  padding: 40px 20px;
}

.response-section {
  margin: 0 auto;
  width: 640px;

}

.response-section h2 {
  margin: 40px auto;
  color: #02b875;
  font-size: 18px;
  display: block;
  width: 150px;
}

.response-section form,  .response-list-section {
  float: left;
}
